resources/wsdl/productive/messageService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:schema="http://vgwort.de/1.2/MessageService/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://vgwort.de/1.2/MessageService" targetNamespace="http://vgwort.de/1.2/MessageService">
  <wsdl:types xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vgw="http://vgwort.de/1.2/MessageService/xsd" elementFormDefault="qualified" targetNamespace="http://vgwort.de/1.2/MessageService/xsd">

	<!-- MESSAGE DEFINITIONS -->
	<xsd:element name="newMessageRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="parties" type="vgw:Parties" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element name="messagetext" type="vgw:MessageText" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element name="webranges" type="vgw:Webranges" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
			<xsd:attribute name="privateidentificationid" type="vgw:pixelIDType" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="newMessageResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexContent xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:extension base="vgw:okMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="newMessageFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexContent xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:extension base="vgw:tomFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> </xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addWebrangeRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="webrange" type="vgw:Webrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
			<xsd:attribute name="privateidentificationid" type="vgw:pixelIDType" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addWebrangeResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexContent xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:extension base="vgw:okMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="addWebrangeFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexContent xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:extension base="vgw:tomFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> </xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="qualityControlRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="qualityControlResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element maxOccurs="12" minOccurs="0" name="qualityControlValues" type="vgw:QualityControlValues" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
			<xsd:attribute name="orderedPixelTillToday" type="vgw:int_0-MAX" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
			<xsd:attribute name="startedPixelTillToday" type="vgw:int_0-MAX" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="qualityControlFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexContent xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:extension base="vgw:tomFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> </xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<xsd:element name="checkAuthorRequest" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:attribute name="cardNumber" type="vgw:cardNumberType" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:attribute name="surName" type="vgw:string_2-255" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="checkAuthorResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:attribute name="valid" type="xsd:boolean" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="checkAuthorFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:complexType xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:complexContent xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:extension base="vgw:tomFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> </xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<!-- COMPLEX DATATYPES -->
	<xsd:complexType name="MessageText" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="shorttext" type="vgw:string_1-100" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="text" type="vgw:Text" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
		<xsd:attribute name="lyric" type="xsd:boolean" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
	</xsd:complexType>
	
	<xsd:complexType name="QualityControlValues" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:attribute name="month" type="vgw:int_1-12" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
		<xsd:attribute name="year" type="vgw:int_1000-9999" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
		<xsd:attribute name="orderedPixel" type="vgw:int_0-MAX" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
		<xsd:attribute name="startedPixel" type="vgw:int_0-MAX" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
		<xsd:attribute name="minAccess" type="vgw:int_0-MAX" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
		<xsd:attribute name="minAccessNoMessage" type="vgw:int_0-MAX" use="required" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>	
	</xsd:complexType>

	<xsd:complexType name="Text" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:choice xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="pdf" type="vgw:base64BinaryMax15MB" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="plainText" type="vgw:base64BinaryMax15MB" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="Parties" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:choice xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="authors" type="vgw:Authors" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:element minOccurs="0" name="translators" type="vgw:Translators" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> </xsd:element>
			</xsd:sequence>
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="translators" type="vgw:Translators" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="Authors" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="99" minOccurs="1" name="author" type="vgw:Involved" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Translators" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="99" minOccurs="1" name="translator" type="vgw:Involved" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Involved" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:choice xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="code" type="vgw:codeType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
				<xsd:element name="firstName" type="vgw:string_2-40" xmlns:xsd="http://www.w3.org/2001/XMLSchema"> </xsd:element>
				<xsd:element name="surName" type="vgw:string_2-255" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				<xsd:choice xmlns:xsd="http://www.w3.org/2001/XMLSchema">
					<xsd:element name="cardNumber" type="vgw:cardNumberType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
					<xsd:element minOccurs="0" name="code" type="vgw:codeType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="Webranges" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="webrange" type="vgw:Webrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Webrange" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="url" type="vgw:urlType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="tomFault" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:sequence xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="errorcode" type="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:element name="errormsg" type="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="okMessage" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:attribute name="status" type="vgw:okType" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
	</xsd:complexType>


	<!-- SIMPLE DATATYPES -->
	<xsd:simpleType name="okType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:token" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:enumeration value="OK" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="pixelIDType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:pattern value="([0-9A-Fa-f]{20}|[0-9A-Fa-f]{30}|[0-9A-Fa-f]{32})" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="cardNumberType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minInclusive value="10" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxInclusive value="9999999" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="codeType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="vgw:string_2-4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:pattern value="[A-Za-z]+" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_2-40" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minLength value="2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxLength value="40" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_1-100" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:token" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minLength value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxLength value="100" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_1-MAX" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minLength value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="urlType" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minLength value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxLength value="250" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:pattern value="(http|https)://?(([0-9a-z_!~*'().&amp;=+$%\-]+: )?[0-9a-z_!~*'().&amp;=+$%\-]+@)?(([0-9]{1,3}\.){3}[0-9]{1,3}|([0-9a-z_!~*'()\-]+\.)*([0-9a-zöäü][0-9a-z\-öäü]{0,61})?[0-9a-zöäü]\.[a-z]{2,6})(:[0-9]{1,4})?((/?)|(/[0-9a-zöäüA-ZÖÄÜ~\._?].+)+/?)" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_2-255" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:maxLength value="255" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:minLength value="2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="string_2-4" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:string" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minLength value="2" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxLength value="4" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="base64BinaryMax15MB" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:base64Binary" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minLength value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxLength value="125829120" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="int_1-99" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minInclusive value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxInclusive value="99" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="int_1-MAX" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minInclusive value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="int_1-12" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minInclusive value="1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxInclusive value="12" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="int_1000-9999" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minInclusive value="1000" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
			<xsd:maxInclusive value="9999" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="int_0-MAX" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
		<xsd:restriction base="xsd:int" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:minInclusive value="0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
  </wsdl:types>
  <wsdl:message name="newMessageFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:newMessageFault" name="newMessageFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWebrangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:addWebrangeResponse" name="addWebrangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAuthorFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:checkAuthorFault" name="checkAuthorFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="qualityControlFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:qualityControlFault" name="qualityControlFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="qualityControlResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:qualityControlResponse" name="qualityControlResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAuthorResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:checkAuthorResponse" name="checkAuthorResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:newMessageRequest" name="newMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="qualityControlRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:qualityControlRequest" name="qualityControlRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWebrangeFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:addWebrangeFault" name="addWebrangeFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkAuthorRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:checkAuthorRequest" name="checkAuthorRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addWebrangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:addWebrangeRequest" name="addWebrangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:part element="schema:newMessageResponse" name="newMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Message" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:operation name="newMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:newMessageRequest" name="newMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:newMessageResponse" name="newMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
      <wsdl:fault message="tns:newMessageFault" name="newMessageFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="qualityControl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:qualityControlRequest" name="qualityControlRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:qualityControlResponse" name="qualityControlResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
      <wsdl:fault message="tns:qualityControlFault" name="qualityControlFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkAuthor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:checkAuthorRequest" name="checkAuthorRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:checkAuthorResponse" name="checkAuthorResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
      <wsdl:fault message="tns:checkAuthorFault" name="checkAuthorFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addWebrange" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <wsdl:input message="tns:addWebrangeRequest" name="addWebrangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:input>
      <wsdl:output message="tns:addWebrangeResponse" name="addWebrangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:output>
      <wsdl:fault message="tns:addWebrangeFault" name="addWebrangeFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageBinding" type="tns:Message" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    <wsdl:operation name="newMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="newMessageRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="newMessageResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="newMessageFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:fault name="newMessageFault" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="qualityControl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="qualityControlRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="qualityControlResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="qualityControlFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:fault name="qualityControlFault" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="checkAuthor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="checkAuthorRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="checkAuthorResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="checkAuthorFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:fault name="checkAuthorFault" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addWebrange" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:operation soapAction="" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <wsdl:input name="addWebrangeRequest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:input>
      <wsdl:output name="addWebrangeResponse" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:output>
      <wsdl:fault name="addWebrangeFault" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
        <soap:fault name="addWebrangeFault" use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:port binding="tns:MessageBinding" name="MessagePort" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <soap:address location="https://tom.vgwort.de:443/services/1.2/MessageService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>